// colors:
$white: #FFFFFF;
$black: #242A38;
$blue-light-bright: #28C3FC;
$blue: #018BBD;
$blue-extinct: #5DC2E8;

// fonts:
$fs-base: 1rem;
$fs-less: 12px;
$fs-small: 14px;
$fs-medium: 18px;
$fs-large: 20px;
